page-home {
  #map {
    flex: 1;
    height: 100%;
    width: 100%;
  }

  .searchInput {
    position: absolute;
    height: 40px;
    margin-left: 45px;
    width: 90%;
    background-color: #ffffff !important;
    border-radius: 25px;
    color: #000;
    padding-bottom: 15px;
    padding-left: 10px;
    font-size: 15px;
  }

  .searchForm {
    position: absolute;
    top: 15px;
    left: 20px;
    right: 20px;
    z-index: 5;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .searchButton {
    width: 40px;
    height: 40px;
    border-radius: 25px;
  }
}
